params.image = 'ldsc-gpca:0.5.0'
params.outdir = 'nf-results'
params.manifest = null
params.ldsc = null
params.project = null
params.region = 'us-central1'
params.service_account = null
params.machine_type = 'n2-*'
params.task_cpus = 2
params.task_memory = '8 GB'
params.task_disk = '50 GB'
params.task_time = '2h'
// Batch staging directories may be root-owned. Local users can override this.
params.container_options = '--user 0:0'
process {
    container = params.image
    containerOptions = params.container_options
    cpus = params.task_cpus
    memory = params.task_memory
    disk = params.task_disk
    time = params.task_time
    errorStrategy = 'terminate'
}
profiles {
    local {
        process.executor = 'local'
        docker.enabled = true
        docker.runOptions = '--platform linux/amd64'
    }
    gcp {
        process.executor = 'google-batch'
        process.machineType = params.machine_type
        google.project = params.project
        google.location = params.region
        google.batch.serviceAccountEmail = params.service_account
    }
}
